# Ensemble Learning

## Initial Imports

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

## Read the CSV and Perform Basic Data Cleaning

In [4]:
# Load the data
file_path = Path('Resources/LoanStats_2019Q1.csv')
df = pd.read_csv(file_path)

# Preview the data
df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

In [5]:
df.select_dtypes(include='object').head()
df2 = df.select_dtypes(include='object')

# df2 is to only identify the categorical variables

In [6]:
df2.sample(10)

,home_ownership,verification_status,issue_d,loan_status,pymnt_plan,initial_list_status,next_pymnt_d,application_type,hardship_flag,debt_settlement_flag
52174,MORTGAGE,Not Verified,Jan-2019,low_risk,n,w,May-2019,Individual,N,N
16092,RENT,Verified,Feb-2019,low_risk,n,w,Apr-2019,Individual,N,N
55825,MORTGAGE,Not Verified,Jan-2019,low_risk,n,w,May-2019,Individual,N,N
20489,MORTGAGE,Not Verified,Feb-2019,low_risk,n,w,Apr-2019,Individual,N,N
67974,MORTGAGE,Source Verified,Jan-2019,low_risk,n,f,May-2019,Individual,N,N
21609,MORTGAGE,Verified,Feb-2019,low_risk,n,w,Apr-2019,Joint App,N,N
31694,RENT,Source Verified,Feb-2019,low_risk,n,w,May-2019,Individual,N,N
9725,MORTGAGE,Not Verified,Mar-2019,low_risk,n,f,May-2019,Individual,N,N
24742,RENT,Source Verified,Feb-2019,low_risk,n,w,May-2019,Individual,N,N
45652,MORTGAGE,Not Verified,Jan-2019,low_risk,n,w,Apr-2019,Individual,N,N

In [7]:
df2.columns

Index(['home_ownership', 'verification_status', 'issue_d', 'loan_status',
       'pymnt_plan', 'initial_list_status', 'next_pymnt_d', 'application_type',
       'hardship_flag', 'debt_settlement_flag'],
      dtype='object')

In [8]:
print(df2.home_ownership.value_counts())
print(df2.verification_status.value_counts())
print(df2.issue_d.value_counts())
print(df2.loan_status.value_counts())
print(df2.pymnt_plan.value_counts())
print(df2.initial_list_status.value_counts())
print(df2.next_pymnt_d.value_counts())
print(df2.application_type.value_counts())
print(df2.hardship_flag.value_counts())
print(df2.debt_settlement_flag.value_counts())

MORTGAGE    36219
RENT        24613
OWN          7346
ANY           639
Name: home_ownership, dtype: int64
Not Verified       32895
Source Verified    25737
Verified           10185
Name: verification_status, dtype: int64
Jan-2019    31041
Feb-2019    25579
Mar-2019    12197
Name: issue_d, dtype: int64
low_risk     68470
high_risk      347
Name: loan_status, dtype: int64
n    68817
Name: pymnt_plan, dtype: int64
w    60292
f     8525
Name: initial_list_status, dtype: int64
May-2019    42449
Apr-2019    26368
Name: next_pymnt_d, dtype: int64
Individual    59206
Joint App      9611
Name: application_type, dtype: int64
N    68817
Name: hardship_flag, dtype: int64
N    68817
Name: debt_settlement_flag, dtype: int64

In [9]:
# drop variable that don't contribute to any variation

df.drop(columns = ["pymnt_plan","hardship_flag","debt_settlement_flag"], inplace= True)
df2.drop(columns = ["pymnt_plan","hardship_flag","debt_settlement_flag"], inplace= True)
df2.columns

Index(['home_ownership', 'verification_status', 'issue_d', 'loan_status',
       'initial_list_status', 'next_pymnt_d', 'application_type'],
      dtype='object')

In [10]:
df2_encoded = pd.get_dummies(df2, columns=['home_ownership', 'verification_status', 'issue_d',
       'initial_list_status', 'next_pymnt_d', 'application_type'])
df2_encoded.columns

Index(['loan_status', 'home_ownership_ANY', 'home_ownership_MORTGAGE',
       'home_ownership_OWN', 'home_ownership_RENT',
       'verification_status_Not Verified',
       'verification_status_Source Verified', 'verification_status_Verified',
       'issue_d_Feb-2019', 'issue_d_Jan-2019', 'issue_d_Mar-2019',
       'initial_list_status_f', 'initial_list_status_w',
       'next_pymnt_d_Apr-2019', 'next_pymnt_d_May-2019',
       'application_type_Individual', 'application_type_Joint App'],
      dtype='object')

In [11]:
# creating dummies
df_encoded = pd.get_dummies(df, columns=['home_ownership', 'verification_status', 'issue_d',
       'initial_list_status', 'next_pymnt_d', 'application_type'])
df_encoded.columns

Index(['loan_amnt', 'int_rate', 'installment', 'annual_inc', 'loan_status',
       'dti', 'delinq_2yrs', 'inq_last_6mths', 'open_acc', 'pub_rec',
       'revol_bal', 'total_acc', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_amnt', 'collections_12_mths_ex_med', 'policy_code',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
       'open_act_il', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc',
       'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m',
       'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util',
       'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct',
       'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl',
       'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_inq',
       'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl',
       'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
       'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m',
       'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m',
       'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'pub_rec_bankruptcies',
       'tax_liens', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit', 'home_ownership_ANY',
       'home_ownership_MORTGAGE', 'home_ownership_OWN', 'home_ownership_RENT',
       'verification_status_Not Verified',
       'verification_status_Source Verified', 'verification_status_Verified',
       'issue_d_Feb-2019', 'issue_d_Jan-2019', 'issue_d_Mar-2019',
       'initial_list_status_f', 'initial_list_status_w',
       'next_pymnt_d_Apr-2019', 'next_pymnt_d_May-2019',
       'application_type_Individual', 'application_type_Joint App'],
      dtype='object')

## Split the Data into Training and Testing

In [12]:
# Create our features
X = df_encoded.drop(columns = ["loan_status"])

# Create our target
y = df_encoded[['loan_status']]

In [13]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,verification_status_Verified,issue_d_Feb-2019,issue_d_Jan-2019,issue_d_Mar-2019,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.148001,0.371696,0.451066,0.177238,0.123879,0.876121,0.383161,0.616839,0.860340,0.139660
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.355104,0.483261,0.497603,0.381873,0.329446,0.329446,0.486161,0.486161,0.346637,0.346637
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [14]:
# Check the balance of our target values
# YOUR CODE HERE
y.value_counts()

loan_status
low_risk       68470
high_risk        347
dtype: int64

In [15]:
# Split the X and y into X_train, X_test, y_train, y_test
# YOUR CODE HERE
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    random_state=1,
                                                    stratify=y)

## Data Pre-Processing

Scale the training and testing data using the `StandardScaler` from `sklearn`. Remember that when scaling the data, you only scale the features data (`X_train` and `X_testing`).

In [16]:
# Create the StandardScaler instance
# YOUR CODE HERE
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [17]:
# Fit the Standard Scaler with the training data
# When fitting scaling functions, only train on the training dataset
# YOUR CODE HERE
X_scaler = scaler.fit(X_train)

In [18]:
# Scale the training and testing data
# YOUR CODE HERE
X_train = X_scaler.transform(X_train)
X_test = X_scaler.transform(X_test)

## Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Display the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier only, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [19]:
# Resample the training data with the BalancedRandomForestClassifier
# YOUR CODE HERE
from imblearn.ensemble import BalancedRandomForestClassifier
brf = BalancedRandomForestClassifier(n_estimators=1000, random_state=1)
brf.fit(X_train, y_train)

BalancedRandomForestClassifier(n_estimators=1000, random_state=1)

In [23]:
brf_model = brf.fit(X_train, y_train)

In [20]:
# Calculated the balanced accuracy score
# YOUR CODE HERE
from sklearn.metrics import balanced_accuracy_score
y_pred_rf = brf.predict(X_test)
balanced_accuracy_score(y_test, y_pred_rf)

0.819314011063168

In [21]:
# Display the confusion matrix
# YOUR CODE HERE
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred_rf)

array([[   62,    25],
       [ 1267, 15851]], dtype=int64)

In [22]:
# Print the imbalanced classification report
# YOUR CODE HERE
y_pred_rf = brf.predict(X_test)
print(classification_report_imbalanced(y_test, y_pred_rf))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.05      0.71      0.93      0.09      0.81      0.65        87
   low_risk       1.00      0.93      0.71      0.96      0.81      0.67     17118

avg / total       0.99      0.92      0.71      0.96      0.81      0.67     17205

In [28]:
X

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [34]:
# List the features sorted in descending order by feature importance
# YOUR CODE HERE
importances = brf_model.feature_importances_
importances_sorted = sorted(zip(importances, X.columns), reverse=True)
importances_sorted

[(0.0673432593554828, 'total_rec_prncp'),
 (0.0639194087480573, 'total_rec_int'),
 (0.061802801683251404, 'last_pymnt_amnt'),
 (0.05918967428441634, 'total_pymnt_inv'),
 (0.05644668024094504, 'total_pymnt'),
 (0.028124935734026368, 'int_rate'),
 (0.018900202431011034, 'issue_d_Jan-2019'),
 (0.017690819773120994, 'dti'),
 (0.01677879261108893, 'installment'),
 (0.01632635451327438, 'annual_inc'),
 (0.0161059297016317, 'out_prncp_inv'),
 (0.016010040646672982, 'max_bal_bc'),
 (0.0157947470185153, 'out_prncp'),
 (0.015760629511167915, 'mths_since_recent_inq'),
 (0.015650679685929644, 'mo_sin_old_rev_tl_op'),
 (0.015484521500813888, 'il_util'),
 (0.015221274363470387, 'bc_util'),
 (0.014944348655468462, 'tot_hi_cred_lim'),
 (0.014710592525981253, 'revol_bal'),
 (0.014706319199969578, 'mo_sin_old_il_acct'),
 (0.014461735951073425, 'avg_cur_bal'),
 (0.01388789883039316, 'issue_d_Mar-2019'),
 (0.013837898045058786, 'tot_cur_bal'),
 (0.01361115704498505, 'bc_open_to_buy'),
 (0.013592748988839633, 'total_bc_limit'),
 (0.012780620155515919, 'mths_since_rcnt_il'),
 (0.012556337027612606, 'all_util'),
 (0.01255203250052071, 'total_bal_ex_mort'),
 (0.012528621735050883, 'total_rev_hi_lim'),
 (0.012157537994674065, 'total_il_high_credit_limit'),
 (0.011644027983994758, 'total_bal_il'),
 (0.011548531297697588, 'loan_amnt'),
 (0.010823372151473967, 'total_acc'),
 (0.010729171031694117, 'mths_since_recent_bc'),
 (0.01014682863853292, 'mo_sin_rcnt_rev_tl_op'),
 (0.009897363500219844, 'num_il_tl'),
 (0.009622210686550151, 'mo_sin_rcnt_tl'),
 (0.009554424773339888, 'num_rev_accts'),
 (0.009396724387312618, 'num_sats'),
 (0.009219796717422526, 'pct_tl_nvr_dlq'),
 (0.009170930740128317, 'open_acc'),
 (0.00913200864460337, 'num_op_rev_tl'),
 (0.009034939225660525, 'num_rev_tl_bal_gt_0'),
 (0.008728171392081827, 'inq_last_12m'),
 (0.008603771085610569, 'num_actv_rev_tl'),
 (0.008515202077342179, 'num_bc_tl'),
 (0.008252902222466035, 'num_actv_bc_tl'),
 (0.007841962046235936, 'acc_open_past_24mths'),
 (0.007545078292742686, 'total_cu_tl'),
 (0.007111112774837239, 'num_bc_sats'),
 (0.00698673814249059, 'open_il_24m'),
 (0.006974924943908613, 'inq_fi'),
 (0.0069648332866246694, 'total_rec_late_fee'),
 (0.006936627302033191, 'num_tl_op_past_12m'),
 (0.006882832152370243, 'open_rv_24m'),
 (0.00670240662306139, 'percent_bc_gt_75'),
 (0.006552222122775644, 'mort_acc'),
 (0.006447319867616526, 'open_act_il'),
 (0.0056969905628818825, 'inq_last_6mths'),
 (0.005032668518360119, 'next_pymnt_d_Apr-2019'),
 (0.004880602252124665, 'open_acc_6m'),
 (0.004726071794930214, 'open_il_12m'),
 (0.004267298047535935, 'issue_d_Feb-2019'),
 (0.004244375483073626, 'next_pymnt_d_May-2019'),
 (0.004086283572214544, 'delinq_2yrs'),
 (0.004053282416032428, 'open_rv_12m'),
 (0.003417392292461109, 'num_accts_ever_120_pd'),
 (0.0034093277466342555, 'tot_coll_amt'),
 (0.0025616124197019767, 'verification_status_Verified'),
 (0.002043762102297577, 'verification_status_Source Verified'),
 (0.0019778344768813143, 'home_ownership_RENT'),
 (0.0018881779777073177, 'verification_status_Not Verified'),
 (0.0018611881510753661, 'home_ownership_OWN'),
 (0.0018077184109582325, 'pub_rec'),
 (0.0016070935393374653, 'pub_rec_bankruptcies'),
 (0.00156970960733049, 'home_ownership_MORTGAGE'),
 (0.0014233716041638384, 'application_type_Individual'),
 (0.0013720192742969982, 'application_type_Joint App'),
 (0.0013275827889905384, 'initial_list_status_f'),
 (0.001076168907621478, 'initial_list_status_w'),
 (0.0009855004152702718, 'num_tl_90g_dpd_24m'),
 (0.0003671460122035637, 'collections_12_mths_ex_med'),
 (0.0003268235054509472, 'home_ownership_ANY'),
 (0.00014496355161589555, 'chargeoff_within_12_mths'),
 (0.0, 'tax_liens'),
 (0.0, 'recoveries'),
 (0.0, 'policy_code'),
 (0.0, 'num_tl_30dpd'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'delinq_amnt'),
 (0.0, 'collection_recovery_fee'),
 (0.0, 'acc_now_delinq')]

In [44]:
importances_sorted[0:5]

[(0.0673432593554828, 'total_rec_prncp'),
 (0.0639194087480573, 'total_rec_int'),
 (0.061802801683251404, 'last_pymnt_amnt'),
 (0.05918967428441634, 'total_pymnt_inv'),
 (0.05644668024094504, 'total_pymnt')]

### Easy Ensemble Classifier

In [38]:
# Train the Classifier
# YOUR CODE HERE
from sklearn.ensemble import RandomForestClassifier
rf_model = RandomForestClassifier(n_estimators=1000, random_state=1)
rf_model = rf_model.fit(X_train, y_train)

In [39]:
# Calculated the balanced accuracy score
# YOUR CODE HERE
y_pred = rf_model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.6605982410126868

In [40]:
# Display the confusion matrix
# YOUR CODE HERE
confusion_matrix(y_test, y_pred)

array([[   28,    59],
       [   11, 17107]], dtype=int64)

In [41]:
# Print the imbalanced classification report
# YOUR CODE HERE
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.72      0.32      1.00      0.44      0.57      0.30        87
   low_risk       1.00      1.00      0.32      1.00      0.57      0.34     17118

avg / total       1.00      1.00      0.33      1.00      0.57      0.34     17205

### Final Questions

1. Which model had the best balanced accuracy score?

    The Balanced Random Forest Classifier has the best balanced accuracy score

2. Which model had the best recall score?

    The Balanced Random Forest Classifier has the best recall

3. Which model had the best geometric mean score?

    The Balanced Random Forest Classifier has the best geometric mean score

4. What are the top three features?
   total_rec_prncp, total_rec_int and last_pymnt_amnt are the top three features